/.buildozer
/.idea
/.vscode
/*.egg-info
/build
/dist
/venv*
/.venv
/temp
/bin
*.epub
*.pyc
__pycache__
.DS_Store
_site
/.jekyll-cache/
/.sass-cache/
/vendor/
.bundle/
/htmlcov
.coverage
/tests_cache
*.bobrowski.com.pl
*.blogspot.com
*.wordpress.com
*.epub
