beautifulsoup4>=4.12.3
EbookLib>=0.18
lxml>=4.9.3
Pillow>=10.1.0
six>=1.16.0
python-dateutil>=2.8.0
atoma>=0.0.17
requests>=2.22.0
fake-useragent>=0.1.11
PyYAML>=5.3.1
pycairo>=1.2.0
Kivy>=2.0.0
pydantic>=2.4.2