beautifulsoup4>=4.12.3
EbookLib>=0.18
lxml>=5.1.0
Pillow>=10.2.0
six>=1.16.0
python-dateutil>=2.8.2
atoma>=0.0.17
requests>=2.31.0
fake-useragent>=0.1.11
PyYAML>=6.0.1
pycairo>=1.26.0
Kivy>=2.0.0
KivyMD>=1.2.0
pydantic>=2.6.3