# This is requirements build for .github/workflows/build_windows.yml
Kivy==2.3.1
atoma==0.0.17
beautifulsoup4==4.13.4
click==8.2.1
ebooklib==0.19
fake-useragent==2.2.0
filetype==1.2.0
ftfy==6.3.1
html5lib==1.1
imagesize==1.4.1
kivymd==1.2.0
plyer==2.1.0
pyjnius==1.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
soupsieve==2.7
strip_tags==0.6
webencodings==0.5.1
