annotated-types==0.7.0
atoma==0.0.17
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
defusedxml==0.7.1
docutils==0.21.2
ebooklib==0.18
fake-useragent==1.5.1
idna==3.7
kivy==2.3.0
kivymd==1.2.0
lxml==5.2.2
pillow==10.4.0
pycairo==1.26.1
pydantic-core==2.20.1
pydantic==2.8.2
pygments==2.18.0
pyyaml==6.0.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
typing-extensions==4.12.2
urllib3==2.2.2
ruff==0.5.0
pyinstaller==6.8.0
pylint==3.2.5
mypy==1.10.1
setuptools