[Desktop Entry]
Type=Application
Name=blog2epub
GenericName=blog2epub
Comment=Convert website (blog) to epub using command line or GUI.
TryExec=blog2epub.gui
Exec=blog2epub.gui
Terminal=false
Icon=${SNAP}/meta/gui/blog2epub_desktop.svg
Categories=Utility;
Keywords=ebook;epub;ereader;