name: Build for Linux

on: [push]

jobs:
  build_for_linux:
    runs-on: ubuntu-latest
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'blog2epub_windows.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: blog2epub_linux_v1.5.0
      - name: Create installer
        run: bash ./make_macos_dmg.sh
      - uses: actions/upload-artifact@v4
        with:
          name: blog2epub_v1.5.0.AppImage
          path: ./dist/blog2epub_v1.5.0.AppImage
