name: Build windows

on: [push]
#on:
#  push:
#    branches:
#      - master

jobs:
  pyinstaller-windows-build:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'blog2epub_windows.spec'
          requirements: 'src/requirements.txt'
          upload_exe_with_name: 'blog2epub_windows'
          # options: --onefile, --name "blog2epub", --windowed,