name: Build windows

on: [push]
#on:
#  push:
#    branches:
#      - master

env:
  VERSION: 1.5.0
  KIVY_GL_BACKEND: angle_sdl2

jobs:
  pyinstaller-windows-build:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'blog2epub_windows.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: blog2epub_win32_v$VERSION
